/**
 * Author: Piotr Lewandowski
 * Website: piotrl.net
 *
 * You can use fragments of this code freely, but not as a whole file.
 * --------------------------------------------------------------------------
 */

/* ==========================================================================
   Base styles
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #DDD;
}

html {
    background: #444 url("../img/bg_body.png");
}

body {
    font-size: 1em;
    line-height: 1.5;
    text-shadow: 1px 1px 2px #111;
    transition: .5s;
}

/*html, body {
    height: 100%;
}
*/
a {
    color: #EEE;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000;
}

/* Remove outline on links in firefox */

a:focus {
    outline: none;
}

/**
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 */

::-moz-selection {
    background: #222;
    text-shadow: none;
}

::selection {
    background: #222;
    text-shadow: none;
}

/**
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/**
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/**
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/**
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


section.navigate {
    padding: 0.5em;
    overflow: hidden;
    z-index: 1;
}

.introdution {
    overflow: hidden;
    padding: 5px 0;
}

.author {
    position: relative;
    display: block;
    float: left;
    margin: 0 .5em;
}

.author img {
    max-height: 4em;
    border-radius: 0 0 2px 2px;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);
}

.author::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,0.6);
}

h1.name {
    padding: 0;
    margin: 0;
    margin-top: .5em;
    font-size: 1em;
    font-weight: normal;
    letter-spacing: -1px;
    text-transform: uppercase;
}

h1.name span {
    font-weight: bold;
}

h1.name + h2 {
    font-size: 1em;
    color: #AAA;
    margin: 0;
    font-weight: normal;
    text-transform: lowercase;
    line-height: 1em;
}
header > nav {
    margin: 1em auto;
    padding-bottom: 3em;
    overflow: hidden;
    position: relative;
}

header > nav::before {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    content: "";
    box-shadow: 0 0 .5em .3em #111;
    border-radius: 50%;
}

header > nav ul {
    width: 16em;
    margin: 0 auto;
}

header > nav li {
    float: left;
    list-style: none;
    width: 6em;
    margin: 0 1em;
    text-align: center;
}

header > nav li a {
    position: relative;
    display: block;
    padding: 1em 0;
    background: rgba(0,0,0,0.2);

}

header > nav li a::before {
    content: '';
    position: absolute;
    bottom: -2em;
    left: 0;
    border-top: 2em solid rgba(0,0,0,0.2);
    border-right: 3em solid transparent;
}

header > nav li a::after {
    content: '';
    position: absolute;
    bottom: -2em;
    right: 0;
    border-top: 2em solid rgba(0,0,0,0.2);
    border-left: 3em solid transparent;
}
article, aside {
    padding: .5em 1em;
    overflow: hidden;
}

/**
 * Social media icons
 */

.social li {
    list-style: none;
    padding: .5em 0;
}

.social a {
    display: block;
    padding-left: 42px;
    font-weight: bold;
    white-space:pre;
    color: #CCC;
    line-height: 1em;
    background-repeat: no-repeat;
    background-size: 32px;
}

.social a::after {
    content: " \A" attr(href);
    font-weight: normal;
    color: #999;
    font-size: 0.8em;
}

.social .google a { background-image: url("../img/icons/googleplus-32.png"); }
.social .twitter a { background-image: url("../img/icons/twitter-32.png"); }
.social .github a { background-image: url("../img/icons/github-32.png"); }
.social .mail a { background-image: url("../img/icons/mail-32.png"); }

.footer {
    padding: 0.5em;
    text-align: center;
    text-transform: lowercase;
    font-family: Verdana;
    background: -webkit-linear-gradient(top, transparent, #111),
                url("../img/bg_footer.png");
    clear: both;
}

/**
 * About
 */

.about article h1,
aside h3,
h1.headline {
    font-weight: normal;
    text-align: center;
    font-family: Georgia;
}

.about article h1::before,
aside h3::before,
h1.headline::before,
.about article h1::after,
aside h3::after,
h1.headline::after {
    content: ' — ';
    color: #AAA;
    text-shadow: 0 1px 1px #222;
}

/**
 * Works / Portfolio
 */

.works article {
    padding: 1em;
    border-top: 1px dashed #555;
}

.works aside {
    float: left;
    font-family: 'PT Sans', serif;
    font-weight: normal;
    max-width: 14em;
}

.works aside dl {
    font-size: 0.9em;
}

.works aside dl dt {
    float: left;
    padding-right: 5px;
}

.works article h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    text-align: center;
}


.works article a.thumb {
    display: block;
    position: relative;
    float: right;
    border: 1px solid #666;
    box-shadow: 0 0 5px 0 #222;
    transition: .3s;
}

.works article:hover a.thumb {
    border-color: #7E90A8;
}

.works article img {
    max-width: 100%%;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Animations keyframes
   ========================================================================== */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        display: block;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        display: block;
    }
}

/* ==========================================================================
   Media Queries for Responsive Design.
   'Mobile first' styles.
   ========================================================================== */

@media only screen and (min-width: 480px) {
    /* Style adjustments for viewports that meet the condition */

    section.navigate {
        max-width: 80%;
        margin: 0 auto;
    }

    article {
        font-size: 1.0em;
    }

    article, aside {
        max-width: 80%;
        margin: 0 auto;
    }

    .social li {
        width: 12em;
        float: left;
    }
}

@media only screen and (min-width: 768px) {

    section.navigate {
        position: fixed;
        top: 0;
        bottom: 0;
        float: left;
        background: rgba(0,0,0,.3);
        width: 19em;
        height: 100%;
        border: 0 solid #555;
        border-right-width: 1px;
        box-shadow: 0 0 10px #222;
        padding: 1em 0;
    }

    html.presentation body {
        background: rgba(0, 0, 0, .5);
        overflow: hidden;
    }

    html.presentation section.navigate {
        border-color: #222;
        box-shadow: 0 0 10px #000;
    }

    section.slides {
        display: none;
        visibility: hidden;
        position: relative;
        height: 100%;
    }

    section.slides a {
        position: absolute;
        display: block;
        cursor: pointer;
        background-image: url('../img/icons/gallery-nav.png');
        width: 20px;
        height: 20px;
        z-index: 1;
    }

    section.slides a.next-button {
        top: 20em;
        right: -1em;
        background-position: 0 0;
    }

    section.slides a.next-button:hover {
        background-position: 0 20px;
    }

    section.slides a.prev-button {
        top: 20em;
        left: 1em;
        background-position: 20px 0;
    }

    section.slides a.prev-button:hover {
        background-position: 20px 20px;
    }

    section.slides a.close-button {
        right: 0;
        top: 1em;
        background-position: 40px 0;
    }

    section.slides a.close-button:hover {
        background-position: 40px 20px;
    }


    section.slides img {
        position: absolute;
        display: block;
        max-width: 90%;
        margin: 3em;
        box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);
        border: 1px solid #444;
        transition: .5s all;
    }

    section.slides img.current {
        opacity: 1;
        left: 0;    /* it is broking slide from right to the center in fx/chrome, but */
        right: 0;   /* firefox doesn't wanna animate without 0 on first state */
    }

    section.slides img.next {
        opacity: 0;
        right: -20em;
    }

    section.slides img.prev {
        opacity: 0;
        left: -20em;
    }

    section.content {
        opacity: 1;
        transition: .3s opacity;
    }

    html.presentation section.content {
        opacity: 0;
    }

    html.presentation section.slides {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        visibility: visible;
        animation: .5s fadeIn ease-out;
        -webkit-animation: .5s fadeIn ease-out;
    }

    header > nav {
        box-shadow: 0 0 10px 0 #000;
        padding-bottom: 0;
    }

    header > nav::before {
        display: none;
    }

    header > nav ul {
        padding: 0;
        margin: 0;
        width: auto;
        text-transform: uppercase;
    }

    header > nav li {
        width: 100%;
        float: none;
        margin: 0;
        border-top: 1px solid #444;
    }

    header > nav li:last-child {
        border-bottom: 1px solid #444;
    }

    html.presentation header > nav li {
        border-color: #222;
    }

    header > nav li a.active {
        background-color: rgba(0, 0, 0, .5);
        transition: .3s;
    }

    header > nav li a::before,
    header > nav li a::after {
        display: none;
    }

    article, aside {
        max-width: 100%;
        margin: 0;
    }

    .content, .slides {
        margin-left: 20em;
    }

    .footer {
        position: relative;
        z-index: 1;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        max-width: 1024px;
        margin: 0 auto;
        position: relative;
    }

    section.navigate {
        border-left-width: 1px;
        margin-left: 1em;
        padding-top: 45px;
    }

    .footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
